header li {
 	list-style: none;

 }

 body {
 	background-color: grey;
 }
 
 a:link, a:visited {
 	text-decoration: none;
 	background-color: lightblue;
 	border: 1px solid black;
 	color: black;
 	display: block;
 	width: 1250px;
 	text-align: center;
 	margin-bottom: 5px;
 	height: 30px;
 }
 a:hover, a:active {
 	background-color: pink;
 	color: purple;
 }
 h1 {
 	text-align: center;
 	background-color: black;
 	color: white;
 	font-style: bold italic;
 	font-size: 70px;
 	height: 120px;
 	
}
            
 section {
 	text-align: center;
 }
